<h1><u>Liste des gossips</u></h1>

<br/>

<table class='table'>
	<thead>
		<tr>
			<td><strong>Auteur</strong></td>
			<td><strong>Contenu</strong></td>
			<td><strong>Actions</strong></td>
		</tr>
	</thead>
	<tbody>
		<% @gossips.each do |gossip| %>
			<tr>
				<td><%= gossip.anonymous_author %></td>
				<td><%= gossip.content %></td>
				<td>
					<a href='<%= gossip_path(gossip.id) %>' class='btn btn-primary'>En savoir plus</a>
					<a href='<%= edit_gossip_path(gossip.id) %>'class='btn btn-warning'>Editer</a>
					<a href='<%= gossip_path(gossip.id) %>' class='btn btn-danger' data-confirm='Etes vous sur?' data-method='DELETE'>Supprimer</a>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<br/>

<p>
	<a href='<%= new_gossip_path %>' class='btn btn-success'>Poster un nouveau gossip</a>
</p>